<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="app.properties"/>

    <bean id = "notebookService" class="ru.itsjava.services.NotebookServiceImpl">
        <constructor-arg name="firm" value="${notebook.firm}"/>
        <constructor-arg name="model" value="${notebook.model}"/>
        <constructor-arg name="year" value="${notebook.year}"/>
    </bean>

    <bean id = "ioService" class="ru.itsjava.services.IOServiceImpl">
    </bean>

    <bean id="programmerService" class="ru.itsjava.services.ProgrammerServiceImpl">
        <constructor-arg ref="notebookService"/>
        <constructor-arg ref="ioService"/>
    </bean>


</beans>